@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
      height: 627px;
      width: 311px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url(../imagens/frame-iphone.png) no-repeat;
      
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img  {
    width: 50px;
    margin: 10px;
    text-align: right;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.685);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px rgba(255, 255, 255, 0.596) solid;
    transform: translate(-20%, -5%);
    transition: transform .8s, border .3s;
}



